body {
    background: #020617;
    color: #e5e7eb;
    font-family: Arial;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    background: #0f172a;
    padding: 30px;
    border-radius: 12px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
}

pre {
    margin-top: 20px;
    background: black;
    padding: 15px;
}
